.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "info1 info2 "
    "info3 info4";
    gap: 2rem;
    column-gap: 5rem;
    font-family: 'Poppins', sans-serif;
    align-items: center;

}





.info1,
.info2,
.info3,
.info4{

    
    border-left: 1px #c1c1c1 solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 0 .5rem 1rem;

    font-size: 1.2rem;
    word-break: break-word;
}

